<header class="align-items-center border-bottom d-flex flex-column flex-md-row justify-content-between p-3 px-md-4 shadow-sm">
  <img src="/assets/images/logo.png" alt="logo" class="logo" style="max-height: 70px;" routerLink="/" />
  <nav class="me-md-3 my-2 my-md-0 text-uppercase">
    <a class="p-2" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a class="p-2" routerLink="/shop" routerLinkActive="active">Shop</a>
    <a class="p-2" routerLink="/test-error" routerLinkActive="active">Errors</a>
  </nav>
  <div class="align-items-center d-flex">
    <a class="me-4 position-relative" routerLink="/basket">
      <fa-icon [icon]="faShoppingCart" class="fa-2x text-dark"></fa-icon>
      <span class="badge bg-danger border border-light position-absolute rounded-pill start-50 top-0" *ngIf="(basket$ | async) as basket">
        {{basket.items.length}}
        <span class="visually-hidden">items in basket</span>
      </span>
    </a>
    <ng-container *ngIf="(currentUser$ | async) === null">
      <a class="btn btn-outline-primary me-2" routerLink="/account/login">Login</a>
      <a class="btn btn-outline-primary me-3" routerLink="/account/register">Sign Up</a>
    </ng-container>
    <ng-container *ngIf="(currentUser$ | async)">
      <div class="dropdown ms-3 me-5" dropdown>
        <a class="dropdown-toggle" style="cursor: pointer;" dropdownToggle>
          <strong>Welcome {{(currentUser$ | async).displayName}}</strong>
        </a>
        <div class="dropdown-menu dropdown-menu-right" style="cursor: pointer;" *dropdownMenu>
          <a class="dropdown-item d-flex align-items-center py-2" routerLink="/basket">
            <fa-icon [icon]="faShoppingCart" class="me-3"></fa-icon> View Basket
          </a>
          <a class="dropdown-item d-flex align-items-center py-2" routerLink="/orders">
            <fa-icon [icon]="faHistory" class="me-3"></fa-icon> View Orders
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item d-flex align-items-center py-2" (click)="logout()">
            <fa-icon [icon]="faSignOut" class="me-3"></fa-icon> Logout
          </a>
        </div>
      </div>
    </ng-container>
  </div>
</header>