<header class="align-items-center border-bottom d-flex flex-column flex-md-row justify-content-between p-3 px-md-4 shadow-sm">
  <img src="/assets/images/logo.png" alt="logo" class="logo" style="max-height: 70px;" routerLink="/" />
  <nav class="me-md-3 my-2 my-md-0 text-uppercase">
    <a class="p-2" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a class="p-2" routerLink="/shop" routerLinkActive="active">Shop</a>
    <a class="p-2" routerLink="/test-error" routerLinkActive="active">Errors</a>
  </nav>
  <div class="align-items-center d-flex">
    <a class="me-4 position-relative" routerLink="/basket">
      <fa-icon [icon]="faShoppingCart" class="fa-2x text-dark"></fa-icon>
      <span class="badge bg-danger border border-light position-absolute rounded-pill start-50 top-0" *ngIf="(basket$ | async) as basket">
        {{basket.items.length}}
        <span class="visually-hidden">items in basket</span>
      </span>
    </a>
    <a class="btn btn-outline-primary me-2">Login</a>
    <a class="btn btn-outline-primary me-3">Sign Up</a>
  </div>
</header>